// Main colors
$primary-dark: #131212;
$primary-light: #FFDEE6;

$secondary-dark: #D61D4E;
$secondary-light: #FF0B55;

$accent-color: #FFF078;

// Links
$base-link: $accent-color;
$visited-link: darken($accent-color, 20%);
$active-link: blue;
$hovered-link: lighten($accent-color, 10%);
$focused-link: red;

// Buttons
$button-lighter: lighten($secondary-dark, 20%);
$button-light: $secondary-dark;
$button-dark: darken($secondary-dark, 20%);
$button-darker: darken($secondary-dark, 50%);
$white: $primary-light;

// Debug
$border-debug: 5px solid lime;
.debug {
    border: $border-debug;
}
@mixin debug {
    border: $border-debug;
}

// Explicit variables renaming 
$background-color: $primary-dark;
$aside-color: $primary-light;